@use './variables.scss';

body {
  background: variables.$bg-primary;
  color: variables.$text-primary;
  font-family: variables.$poppins;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
