@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$poppins: "Roboto", sans-serif;


$bg-primary: #13293D;
$bg-secondary: #F3F3F3;

$text-primary: #F1F1F1;
$text-secondary: #333;

$accent-primary: #007BFF;
$accent-primary-hover: #0056B3;

$success: #28A745;
$error: #DC3545;
$warning: #FFC107;

$border-default: #3D3D3D;
$border-radius: 0.75rem;
$focus-outline: rgba(0, 123, 255, 0.3);
