.post {
  background-color: black;
  border: 2px solid grey;
  padding: 2rem 1.25rem;
  width: 36rem;
  height: auto;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__img {
    width: 100%;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 2rem;

    &__name {
      font-size: 1rem;
      font-weight: 600;
    }

    &__img {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      object-fit: cover;
    }
  }
}


