@use '../styles/variables.scss';

.signUpForm {
  color: variables.$text-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  &__container {
    background-color: variables.$bg-secondary;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 24rem;
    display: flex;
    flex-direction: column;
  }
  
  &__title {
    font-size: 1.5rem;
    color: variables.$text-secondary;
    text-align: center;
  }

  &__label {
    color: variables.$text-secondary;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
  }

  &__input {
    background-color: variables.$bg-secondary;
    margin-bottom: 1rem;
    color: variables.$text-secondary;
    border: 1px solid variables.$border-default;
    padding: 0.5rem;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: variables.$accent-primary;
      box-shadow: 0 0 5px variables.$accent-primary-hover;
    }
  }
}

.successMessage {
  color: variables.$success;
}

.errorMessage {
  color: variables.$error;
}