@use '../styles/variables.scss';

.user-details {
  display: flex;
  flex-direction: column;
  width: 24rem;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: variables.$background-color;
  border-radius: variables.$border-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
  &__img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }

  &__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    
    &__username,
    &__name,
    &__surname,
    &__email {
      font-size: 1.4rem;
      font-weight: 600;
      color: variables.$text-color;
      margin: 0;
    }

    &__username {
      font-size: 1.6rem;
      font-weight: 700;
      color: variables.$primary-color;
    }
  }

  &__edit-button {
    margin-top: 1.5rem;
    padding: 0.8rem 2rem;
    background-color: variables.$primary-color;
    color: white;
    border: none;
    border-radius: variables.$border-radius;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: variables.$primary-color-dark;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: variables.$form-background-color;
    padding: 2rem;
    border-radius: variables.$border-radius;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 30rem;

    &__input {
      padding: 0.8rem 1.2rem;
      font-size: 1rem;
      border: 1px solid variables.$border-color;
      border-radius: variables.$border-radius;
      background-color: white;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: variables.$primary-color;
        outline: none;
      }

      &.error {
        border-color: red;
      }
    }

    &__button-container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      &__button {
        padding: 0.8rem 2rem;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        border-radius: variables.$border-radius;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.save {
          background-color: variables.$primary-color;
          color: white;

          &:hover {
            background-color: variables.$primary-color-dark;
          }
        }

        &.cancel {
          background-color: #f0f0f0;
          color: variables.$primary-text-color;

          &:hover {
            background-color: #e0e0e0;
          }
        }
      }
    }
  }
}
