@use '../styles/variables.scss';

.rootLayout {
  display: flex;
  height: 200vh;

  &__content {
    padding: 20px;
    background-color: variables.$bg-primary;
    color: variables.$text-primary;
  }
}
