@use '@/styles/variables.scss';

.rootLayout {
  background: variables.$bg-primary;
  color: variables.$text-primary;
  font-family: variables.$poppins;
  display: flex;

  &__content {
    padding: 20px;
    background-color: variables.$bg-primary;
    color: variables.$text-primary;
  }
}
